/* make the offering plate image stretch to fit window keeping aspect ratio */
#container img#home-bg {
	width:100%;
	height:auto;
}

#container {
	background-color:#454545 !important;
	/*font-family:'ebrimaregular';*/
}

#container #columns {
	overflow:hidden;
}

#container #columns div.col {
	display:block;
	float:left;
	clear:none;
	width:25%;
	margin:0 4.16%;
}

#container #columns h3.ui-accordion-header {
	margin-top:10px;
	cursor:default;
}

	#container #columns div {
		font-size:0.8em;
		text-align:justify;
	}

		/* this is either a button or anchor tag */
		.see-more-button {
			display:block;
			height:30px;
			width:auto;
			border:0;
			padding:0 30px 0 0.8em;
			background:transparent url('/img/arrow.png') center right no-repeat;
			color:#fff;
			
			/* float:bottom-right */
			float:right;
			clear:both;
			margin-top:30px;
		}
		
		a.see-more-button {
			text-decoration:none;
			line-height:30px;
		}
		
			.see-more-button:hover {
				background-color:#333;
			}



p#moreInfoContent {
	padding-bottom:40px;
	text-align:justify;
}
