/*div#container {
	background:url('/img/offeringplate.jpg') top right no-repeat !important;
}
*/

/* make the offering plate image stretch to fit window keeping aspect ratio */
#container img#home-bg {
	width:100%;
	height:auto;
}

#container {
	background-color:#454545 !important;
	font-family:'ebrimaregular';
}

#container #columns {
	width:100%;
	overflow:hidden;
}

	#container #columns #column-left,
	#container #columns #column-middle,
	#container #columns #column-right {
		width:25%;
		height:auto;
		margin-left:6.25%;
		float:left;
		overflow:visible;	
		
		background-color:#222;
		color:#fff;
		
		/* for float:bottom'ing the see more buttons */
		position:relative;
		/* this adds enough padding to the bottom for the button
		 * note: this value is effectively doubled because we are using JavaScript to compute the height
		 * of the tallest column, which includes this padding, then we set all the heights to this, but
		 * that height value doesn't take into account the padding, so it gets basically doubled
		 */
		padding-bottom:75px;
	}
	
	#container #columns #column-right {
		clear:right;
	}
	
		#columns h2 {
			margin:0.5em;
			font-size:120%;
			letter-spacing:0.1em;
			font-weight:normal;
		}
		
				
		/* cool hr styling requires a pseudo-element */
		#columns hr {
		    padding: 0;
		    border: none;
		    border-top: medium double #fff;
		    color: #fff; /* the color of the :after content */
		    text-align: center;
		    margin-bottom:1.5em;
		    width:95%;
		    margin-left:2.5%;
		}
		
			#columns hr:after {
			    content: "§";
			    display: inline-block;
			    position: relative; 
			    top: -0.7em;  
			    font-family:Georgia !important;
			    font-size: 1.2em;
			    padding: 0 0.1em;
			    background-color:#222;
			}
		
		
		
		#columns p {
			margin:0 0.5em;
			text-align:justify;
			line-height:1.2em;
			font-weight:normal;
			font-size:100%;
		}


		/* this is either an input[button] or anchor tag */
		.see-more-button {
			display:inline-block;
			height:30px;
			width:auto;
			border:0;
			margin:0.5em;
			padding:0 30px 0 0.8em;
			background:transparent url('/img/arrow.png') center right no-repeat;
			color:#fff;
			
			/* float:bottom-right */
			position:absolute;
			bottom:0;
			right:0;
		}
		
		a.see-more-button {
			text-decoration:none;
			line-height:30px;
		}
		
			.see-more-button:hover {
				background-color:#333;
			}
