<!-- first we include any page-specific style -->
<link rel="stylesheet" href="/views/products.css" type="text/css" />

<!-- then we include the page-specific javascript -->
<script type="text/javascript" src="/js/jquery.galleriffic.js"></script>
<script type="text/javascript" src="/js/jquery.opacityrollover.js"></script>
<script type="text/javascript" src="/views/products.js"></script>

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>

<!-- then the content inside div#content -->

<div id="product-sections" class="ui-accordion ui-widget ui-helper-reset">

	<div class="sec">
		<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top">Loose / Bulk / Pew Envelopes</h3>
		<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
			<ul>
				<li>
					<p>Butterfly</p>
					<a class="zoomable-image" id="loose-butterfly" href="#ZoomImage">
						<img src="/img/products/loose-butterfly-thumb.png" />
					</a>
				</li>

				<li>
					<p>Green Dove</p>
					<a class="zoomable-image" id="loose-dove-green" href="#ZoomImage">
						<img src="/img/products/loose-dove-green-thumb.png" />
					</a>
				</li>

				<li>
					<p>Blue Dove</p>
					<a class="zoomable-image" id="loose-dove-blue" href="#ZoomImage">
						<img src="/img/products/loose-dove-blue-thumb.png" />
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--
			(li>a.thumb[href="/img/products/series/adult/pope/pope-adult-$$-full.png" title="Pope Series for Adults Week $$"]>img[src="/img/products/series/adult/pope/pope-adult-$$-thumb.png" alt="Pope Series for Adults Week $$"]^+div.caption>p{This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.})*52
	-->

	<div class="sec">
	
		<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top">Pope Francis Series</h3>

		<div class="gall-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
		
			<div class="gall-content">
				<div class="slideshow-container">
					<div id="controls" class="controls"></div>
					<div id="loading" class="loader"></div>
					<div id="slideshow" class="slideshow"></div>
				</div>
				<div id="caption" class="caption-container"></div>
			</div>

		
			<div class="navigation-container">
				<div id="thumbs" class="navigation">
					<a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
				
					<ul class="thumbs noscript">
					
						
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-01-full.png" class="thumb" title="Pope Series for Adults Week 01"><img src="/img/products/series/adult/pope/pope-adult-01-thumb.png" alt="Pope Series for Adults Week 01"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-02-full.png" class="thumb" title="Pope Series for Adults Week 02"><img src="/img/products/series/adult/pope/pope-adult-02-thumb.png" alt="Pope Series for Adults Week 02"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-03-full.png" class="thumb" title="Pope Series for Adults Week 03"><img src="/img/products/series/adult/pope/pope-adult-03-thumb.png" alt="Pope Series for Adults Week 03"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-04-full.png" class="thumb" title="Pope Series for Adults Week 04"><img src="/img/products/series/adult/pope/pope-adult-04-thumb.png" alt="Pope Series for Adults Week 04"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-05-full.png" class="thumb" title="Pope Series for Adults Week 05"><img src="/img/products/series/adult/pope/pope-adult-05-thumb.png" alt="Pope Series for Adults Week 05"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-06-full.png" class="thumb" title="Pope Series for Adults Week 06"><img src="/img/products/series/adult/pope/pope-adult-06-thumb.png" alt="Pope Series for Adults Week 06"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-07-full.png" class="thumb" title="Pope Series for Adults Week 07"><img src="/img/products/series/adult/pope/pope-adult-07-thumb.png" alt="Pope Series for Adults Week 07"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-08-full.png" class="thumb" title="Pope Series for Adults Week 08"><img src="/img/products/series/adult/pope/pope-adult-08-thumb.png" alt="Pope Series for Adults Week 08"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-09-full.png" class="thumb" title="Pope Series for Adults Week 09"><img src="/img/products/series/adult/pope/pope-adult-09-thumb.png" alt="Pope Series for Adults Week 09"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-10-full.png" class="thumb" title="Pope Series for Adults Week 10"><img src="/img/products/series/adult/pope/pope-adult-10-thumb.png" alt="Pope Series for Adults Week 10"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-11-full.png" class="thumb" title="Pope Series for Adults Week 11"><img src="/img/products/series/adult/pope/pope-adult-11-thumb.png" alt="Pope Series for Adults Week 11"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-12-full.png" class="thumb" title="Pope Series for Adults Week 12"><img src="/img/products/series/adult/pope/pope-adult-12-thumb.png" alt="Pope Series for Adults Week 12"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-13-full.png" class="thumb" title="Pope Series for Adults Week 13"><img src="/img/products/series/adult/pope/pope-adult-13-thumb.png" alt="Pope Series for Adults Week 13"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-14-full.png" class="thumb" title="Pope Series for Adults Week 14"><img src="/img/products/series/adult/pope/pope-adult-14-thumb.png" alt="Pope Series for Adults Week 14"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-15-full.png" class="thumb" title="Pope Series for Adults Week 15"><img src="/img/products/series/adult/pope/pope-adult-15-thumb.png" alt="Pope Series for Adults Week 15"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-16-full.png" class="thumb" title="Pope Series for Adults Week 16"><img src="/img/products/series/adult/pope/pope-adult-16-thumb.png" alt="Pope Series for Adults Week 16"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-17-full.png" class="thumb" title="Pope Series for Adults Week 17"><img src="/img/products/series/adult/pope/pope-adult-17-thumb.png" alt="Pope Series for Adults Week 17"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-18-full.png" class="thumb" title="Pope Series for Adults Week 18"><img src="/img/products/series/adult/pope/pope-adult-18-thumb.png" alt="Pope Series for Adults Week 18"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-19-full.png" class="thumb" title="Pope Series for Adults Week 19"><img src="/img/products/series/adult/pope/pope-adult-19-thumb.png" alt="Pope Series for Adults Week 19"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-20-full.png" class="thumb" title="Pope Series for Adults Week 20"><img src="/img/products/series/adult/pope/pope-adult-20-thumb.png" alt="Pope Series for Adults Week 20"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-21-full.png" class="thumb" title="Pope Series for Adults Week 21"><img src="/img/products/series/adult/pope/pope-adult-21-thumb.png" alt="Pope Series for Adults Week 21"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-22-full.png" class="thumb" title="Pope Series for Adults Week 22"><img src="/img/products/series/adult/pope/pope-adult-22-thumb.png" alt="Pope Series for Adults Week 22"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-23-full.png" class="thumb" title="Pope Series for Adults Week 23"><img src="/img/products/series/adult/pope/pope-adult-23-thumb.png" alt="Pope Series for Adults Week 23"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-24-full.png" class="thumb" title="Pope Series for Adults Week 24"><img src="/img/products/series/adult/pope/pope-adult-24-thumb.png" alt="Pope Series for Adults Week 24"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-25-full.png" class="thumb" title="Pope Series for Adults Week 25"><img src="/img/products/series/adult/pope/pope-adult-25-thumb.png" alt="Pope Series for Adults Week 25"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-26-full.png" class="thumb" title="Pope Series for Adults Week 26"><img src="/img/products/series/adult/pope/pope-adult-26-thumb.png" alt="Pope Series for Adults Week 26"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-27-full.png" class="thumb" title="Pope Series for Adults Week 27"><img src="/img/products/series/adult/pope/pope-adult-27-thumb.png" alt="Pope Series for Adults Week 27"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-28-full.png" class="thumb" title="Pope Series for Adults Week 28"><img src="/img/products/series/adult/pope/pope-adult-28-thumb.png" alt="Pope Series for Adults Week 28"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-29-full.png" class="thumb" title="Pope Series for Adults Week 29"><img src="/img/products/series/adult/pope/pope-adult-29-thumb.png" alt="Pope Series for Adults Week 29"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-30-full.png" class="thumb" title="Pope Series for Adults Week 30"><img src="/img/products/series/adult/pope/pope-adult-30-thumb.png" alt="Pope Series for Adults Week 30"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-31-full.png" class="thumb" title="Pope Series for Adults Week 31"><img src="/img/products/series/adult/pope/pope-adult-31-thumb.png" alt="Pope Series for Adults Week 31"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-32-full.png" class="thumb" title="Pope Series for Adults Week 32"><img src="/img/products/series/adult/pope/pope-adult-32-thumb.png" alt="Pope Series for Adults Week 32"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-33-full.png" class="thumb" title="Pope Series for Adults Week 33"><img src="/img/products/series/adult/pope/pope-adult-33-thumb.png" alt="Pope Series for Adults Week 33"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-34-full.png" class="thumb" title="Pope Series for Adults Week 34"><img src="/img/products/series/adult/pope/pope-adult-34-thumb.png" alt="Pope Series for Adults Week 34"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-35-full.png" class="thumb" title="Pope Series for Adults Week 35"><img src="/img/products/series/adult/pope/pope-adult-35-thumb.png" alt="Pope Series for Adults Week 35"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-36-full.png" class="thumb" title="Pope Series for Adults Week 36"><img src="/img/products/series/adult/pope/pope-adult-36-thumb.png" alt="Pope Series for Adults Week 36"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-37-full.png" class="thumb" title="Pope Series for Adults Week 37"><img src="/img/products/series/adult/pope/pope-adult-37-thumb.png" alt="Pope Series for Adults Week 37"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-38-full.png" class="thumb" title="Pope Series for Adults Week 38"><img src="/img/products/series/adult/pope/pope-adult-38-thumb.png" alt="Pope Series for Adults Week 38"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-39-full.png" class="thumb" title="Pope Series for Adults Week 39"><img src="/img/products/series/adult/pope/pope-adult-39-thumb.png" alt="Pope Series for Adults Week 39"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-40-full.png" class="thumb" title="Pope Series for Adults Week 40"><img src="/img/products/series/adult/pope/pope-adult-40-thumb.png" alt="Pope Series for Adults Week 40"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-41-full.png" class="thumb" title="Pope Series for Adults Week 41"><img src="/img/products/series/adult/pope/pope-adult-41-thumb.png" alt="Pope Series for Adults Week 41"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-42-full.png" class="thumb" title="Pope Series for Adults Week 42"><img src="/img/products/series/adult/pope/pope-adult-42-thumb.png" alt="Pope Series for Adults Week 42"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-43-full.png" class="thumb" title="Pope Series for Adults Week 43"><img src="/img/products/series/adult/pope/pope-adult-43-thumb.png" alt="Pope Series for Adults Week 43"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-44-full.png" class="thumb" title="Pope Series for Adults Week 44"><img src="/img/products/series/adult/pope/pope-adult-44-thumb.png" alt="Pope Series for Adults Week 44"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-45-full.png" class="thumb" title="Pope Series for Adults Week 45"><img src="/img/products/series/adult/pope/pope-adult-45-thumb.png" alt="Pope Series for Adults Week 45"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-46-full.png" class="thumb" title="Pope Series for Adults Week 46"><img src="/img/products/series/adult/pope/pope-adult-46-thumb.png" alt="Pope Series for Adults Week 46"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-47-full.png" class="thumb" title="Pope Series for Adults Week 47"><img src="/img/products/series/adult/pope/pope-adult-47-thumb.png" alt="Pope Series for Adults Week 47"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-48-full.png" class="thumb" title="Pope Series for Adults Week 48"><img src="/img/products/series/adult/pope/pope-adult-48-thumb.png" alt="Pope Series for Adults Week 48"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-49-full.png" class="thumb" title="Pope Series for Adults Week 49"><img src="/img/products/series/adult/pope/pope-adult-49-thumb.png" alt="Pope Series for Adults Week 49"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-50-full.png" class="thumb" title="Pope Series for Adults Week 50"><img src="/img/products/series/adult/pope/pope-adult-50-thumb.png" alt="Pope Series for Adults Week 50"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-51-full.png" class="thumb" title="Pope Series for Adults Week 51"><img src="/img/products/series/adult/pope/pope-adult-51-thumb.png" alt="Pope Series for Adults Week 51"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						<li>
							<a href="/img/products/series/adult/pope/pope-adult-52-full.png" class="thumb" title="Pope Series for Adults Week 52"><img src="/img/products/series/adult/pope/pope-adult-52-thumb.png" alt="Pope Series for Adults Week 52"></a>
							<div class="caption">
								<p>This is our Pope Francis series of envelopes. There are 52 different messages from His Holy Father, one for each week of the year. You can put your church's weekly envelope copy on the face or flap side of the envelope, and we'll put the messages from the Pope on the reverse.</p>
							</div>
						</li>
						
						<!-- must even out the modulo to zero to stop the page from shifting if there aren't enough thumbnails on the last page -->
						<li></li>
						<li></li>
						<li></li>
					
					</ul>
					<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
				</div>
			</div>
			<!-- End Gallery Html Containers -->
			<div style="clear: both; height:50px;"></div>
		
		
		
		</div>
	</div>




<!-- modal overlay -->
<div id="imageZoom">
	<img id="zoomedImage" src="" /><br />
	<p id="zoomedImageCaption"></p>
</div>