#products-container {
	width:90%;
	margin:5%;
	text-align:center; /* float:center the inline-block div.product-sections */
}

	.product-section {
		width:470px;
		margin:0 15px 0 0;
		display:inline-block; /* make float:center and still be fluid - fails IE 6/7 */
		vertical-align:top; /* align the tops of the sections */
	}
	
	h3.ui-accordion-header {
		font-size:0.8em;
	}
	
	.ui-accordion-content {
		padding-left:0 !important;
		padding-right:0 !important;
	}
	
		.product-description {
			padding:0 1em;
			font-size:0.7em;
			text-align:justify;
			margin-bottom:1em;
		}
		
		.product-samples {
			list-style-type:none;
		}
		
			.product-samples li {
				display:block;
				float:left;
				width:150px;
				height:150px;
				margin-left:5px;
				text-align:center; /* center img horizontally */
				line-height:150px; /* center img vertically - with the img>vertical-align:middle property */
				margin-bottom:1em;
			}
			
				.product-samples li img {
					vertical-align:middle;
				}
			



/* modal dialog styles */
#imageZoom {
	text-align:center;
}



/* generic class styles */			
.clickable {
	cursor:pointer;
}